.game-page {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 30px;
    &__background {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 500px;
        z-index: 0;
        opacity: 0.7;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            background: radial-gradient(circle, rgba(27, 27, 27, 0) 0%, rgb(27, 27, 27) 100%);
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            background: linear-gradient(0deg, hwb(0 11% 89%) 0%, rgba(27, 27, 27, 0) 48%, rgba(27, 27, 27, 1) 100%);
        }
    }

    &__game-info {
        position: relative;
        z-index: 10;
        padding: 30px 0 0 0;
    }

    &__head {
        display: flex;
        align-items: center;
    }

    &__date-release {
        background-color: var(--dRed);
        padding: 5px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 300;
        margin-right: 20px;
        color: var(--white);
    }

    &__platforms {
        display: flex;
        gap: 10px;
    }

    &__title {
        margin-top: 30px;
        font-size: 60px;
        font-weight: 700;
    }

    &__buttons {
        margin-top: 20px;
        display: flex;
        align-items: center;

        a {
            width: 100%;
        }
    }

    &__button {
        flex: 0 0 90%;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        background-color: var(--dRed);
        padding: 15px 10px;
        margin-right: 10px;
        border-radius: 10px;
        font-weight: 500;
        color: var(--white);
        transition: 0.3s ease;
        &.unlogged {
            flex: 0 0 100%;
        }
        &.not-in-collection {
            flex: 0 0 100%;
        }
        p {
            position: relative;
            z-index: 10;
        }

        &::first-letter {
            text-transform: uppercase;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            top: -100%;
            left: 0%;
            background-color: var(--white);
            position: absolute;
            transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }

        &:hover {
            color: var(--black);

            &::after {
                left: 0;
                top: 0;
            }
        }
    }

    &__remove {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 47px;
        width: 47px;
        border-radius: 10px;
        background-color: var(--dRed);
        position: relative;
            overflow: hidden;
        svg {
            position: relative;
            z-index: 10;
            height: 50%;
            width: 50%;

            path {
                fill: var(--white);
            }
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 50%;
            background-color: var(--white);
            position: absolute;
            transform: scale(0);
            border-radius: 10px;
            transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }

        &:hover {
            svg {
                path {
                    fill: var(--black);
                }
            }
            &::after {
                transform: scale(1);
            }
        }
    }

    &__about {
        margin-top: 30px;

        h1 {
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 10px;
        }
    }

    &__description,
    &__description-raw {
        line-height: 130%;
        font-weight: 300;

        p {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 5px;
            }
        }
    }

    &__description {
        div {
            display: inline;
        }

        span {
            cursor: pointer;
            padding: 3px;
            background-color: var(--white);
            color: var(--black);
            font-size: 12px;
            border-radius: 5px;
            font-weight: 500;
        }
    }

    &__screens {
        margin-top: 100px;
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 98px;
        grid-auto-rows: 98px;
        position: relative;
        z-index: 10;
    }

    &__screen {
        width: 100%;
        height: 98px;

        img {
            border-radius: 5px;
            max-width: 100%;
        }
    }
}

.add-mygames {
    position: relative;
    width: 100%;
    text-align: center;

    p {
        padding: 1px 0;
    }

    &__popup {
        z-index: 9999;
        position: absolute;
        left: 50%;
        top: 50%;
        background-color: var(--mBlack);
        border-radius: 20px;
        overflow: hidden;
        padding: 30px;
        transform: translateX(-50%) translateY(-50%);

        h1 {
            margin-bottom: 5px;
            font-size: 32px;
            font-weight: 800;
            text-align: center;
        }
    }

    &__options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;

        li {
            display: flex;
            color: var(--white);
            cursor: pointer;
            list-style-type: none;
            background-color: var(--black);
            padding: 15px 20px;
            margin: 10px 0;
            border-radius: 10px;
            transition: 0.3s ease;

            input {
                width: 0;
                height: 0;
            }

            div {
                p {
                    font-size: 18px;
                    font-weight: 600;
                    white-space: nowrap;
                }

                span {
                    font-size: 12px;
                    white-space: nowrap;
                }
            }

            &:hover {
                background-color: var(--lRed);
            }
        }
    }

    &__rating {
        margin: 15px 0;

        h2 {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 5px;
        }
    }

    &__rating-values {
        margin: 10px 0;
        display: grid;
        column-gap: 5px;
        grid-template-columns: repeat(11, 1fr);
        list-style-type: none;

        label {
            border-radius: 50%;
        }

        li {
            font-weight: 700;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: var(--black);
            text-align: center;
            transition: 0.2s ease background-color;
            border-radius: 50%;

            &:hover {
                background-color: var(--lRed);
            }

            input {
                width: 0;
                height: 0;
            }

            span {
                &::first-letter {
                    text-transform: uppercase;
                }
            }
        }
    }

    &__review {
        overflow: hidden;
        border-radius: 20px;

        textarea {
            padding: 20px;
            width: 100%;
            height: 100px;
            resize: none;
            color: var(--white);
            font-size: 18px;
            background-color: var(--black);

            &::placeholder {
                font-size: 16px;
                font-weight: 700;
            }
        }
    }

    &__button {
        margin-top: 15px;
        width: 100%;
        background-color: var(--black);
        border-radius: 20px;
        padding: 15px;
        color: var(--white);
        font-size: 18px;
        font-weight: 600;
        transition: 0.3s ease;

        &:hover {
            background-color: var(--lRed);
        }
    }
}