.navigation {
    position: relative;
    margin-bottom: 30px;
    padding: 20px 0;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;

    &__logo {
        display: flex;
        align-items: center;

        img {
            margin-right: 10px;
            width: 35px;
            height: 35px;
        }

        p {
            font-weight: 900;
            font-size: 22px;
        }
    }

    &__search-bar {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 9999px;
        flex: 0 1 30%;
        background-color: var(--white);
    }

    &__search-icon {
        z-index: 1;
        position: absolute;
        left: 15px;
        width: 20px;
        height: 20px;
    }

    &__search {
        position: relative;
        z-index: 20;
        width: 100%;
        font-weight: 500;
        font-size: 16px;
        padding: 10px 20px 10px 40px;
        background-color: transparent;
    }

    &__user {
        display: flex;
    }

    &__user-profile {
        display: flex;
        align-items: center;

        div {
            display: flex;
            align-items: center;
        }

        img {
            cursor: pointer;
            width: 35px;
            height: 35px;
        }

        p {
            color: var(--white);
            cursor: pointer;
            margin-left: 10px;
            white-space: nowrap;
            font-weight: 500;
            transition: 0.3s ease;

            &:hover {
                color: var(--lRed);
            }
        }
    }

    &__auth {
        display: flex;
        align-items: center;

        button {
            background-color: transparent;
            color: var(--white);
            font-size: 18px;
            font-weight: 500;
            margin-right: 15px;
            transition: 0.2s ease;

            &:hover {
                color: var(--lRed);
            }
        }
    }

    &__settings {
        margin-left: 15px;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        user-select: none;
        svg {
            path {
                transition: 0.3s ease;
            }

            &:hover {
                path {
                    fill: var(--lRed);
                }
            }
        }
    }

    &__settings-popup {
        position: absolute;
        width: 150px;
        background-color: var(--dRed);
        padding: 10px;
        border-radius: 10px;
        top: calc(100% - 10px);
        right: 0;
        z-index: 100;
        button {
            cursor: pointer;
            width: 100%;
            text-align: left;
            background-color: transparent;
            padding: 10px;
            border-radius: 10px;
            font-size: 14px;
            color: var(--white);
            font-weight: 600;
            transition: 0.2 s ease;
            &:hover {
                background-color: var(--white);
                color: var(--black);
            }
        }
    }
}

.search-result {
    position: absolute;
    top: calc(100% + 10px);
    width: 100%;
    z-index: 9999;
    color: var(--white);
    padding: 0 5px 0 0;
    background-color: var(--grey);
    border-radius: 20px;

    &__body {
        overflow: auto;
        max-height: 700px;
        padding: 15px;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            margin: 20px;
        }

        &::-webkit-scrollbar-thumb {
            cursor: pointer;
            background-color: var(--brown);
            border-radius: 9999px;
        }
    }

    &__games {
        width: 100%;

        h1 {
            margin-bottom: 10px;
        }
    }

    &__games-list {
        list-style-type: none;

        li {
            border-radius: 20px;
            cursor: pointer;
            display: flex;
            padding: 8px;
            margin-left: -10px;

            &:hover {
                background-color: var(--brown);
            }
        }
    }

    &__game-poster {
        width: 50px;
        aspect-ratio: 4 / 5;

        img {
            border-radius: 9px;
            object-fit: cover;
            max-width: 100%;
            height: 100%;
        }
    }

    &__game-text {
        margin-left: 13px;
    }

    &__game-platfroms {
        margin-top: 10px;
        display: flex;

        div {
            margin-right: 10px;
        }
    }

    &__game-name {
        font-size: 18px;
    }

    &__placeholder {
        width: 100%;
        background-color: var(--grey);
        height: 200px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__loader {
        margin: 0 0 2em;
        height: 100px;
        width: 100%;
        text-align: center;
        padding: 1em;
        margin: 0 auto 1em;
        display: inline-block;
        vertical-align: top;
    }
}