// red color https://lookcolor.ru/images/chernyj/sochetanie_chernogo_3.png
// green color https://lookcolor.ru/images/chernyj/sochetanie_chernogo_4.png
@use "./zerosettings";
@use "./mainLoading";
@use "./sidebar";
@use "./gameCard";
@use "./gamePage";
@use "./auth";
@use "./navigation";
@use "./userGames";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --mBlack: #303030; 
    --black: #1b1b1b;
    --white: #fff;
    --brown: #33211b;
    --grey: #4f433a;
    --dRed: #a00711;
    --mRed: #f8141b;
    --lRed: #ff334d;
}
body {
    background-color: var(--black);
}
#app {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background-color: var(--black);
    color: var(--white);
}
